* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.finder {
    background-image: url('./bikestation.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 60%;
    padding: 2%;
}

form > h1 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .08em;
    font-size: 1.8em;
    text-align: center;
    color: rgb(16, 16, 163);
    padding-top: 0;
    margin-top: .2em;
}

#search {
    width: 80%;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    background-color: rgba(255, 255, 255, 0.803);
    padding: 1em;
    margin: 0 auto;
    border-radius: 2em 2em .8em .8em; 
}


#warning {
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    display: none;
}

#address-box {
    width: 450px;
    height: 52px;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 1em;
}

#search-bar {
    width: max-content;
    margin: auto;
}

input[type=checkbox] {
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    margin-left: 1em;
    margin-right: .5em;
}

#submit {
    background-color: rgb(16, 16, 163);
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}

fieldset > span {
    margin-left: 40px;
}

label {
    padding-right: .5em;
    
}

#weather {
    width: 100%;
    height: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-shadow: 0.2em 0 0.3em rgb(255, 255, 255);
    color: rgb(0, 0, 255, 0.7);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( #498fb0, #a5c7d7, #b1d4e2, #b1d4e2, #a5c7d7,#498fb0);
}



#weather > h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0.1em 0 0.1em rgba(0, 0, 255, 0.4);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.6em;
    text-align: center;
    color: #fff;
}

main {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    margin: .5em;
}

@media screen and (max-width: 800px) {
    .finder {
        background-size: cover;
        height: fit-content;
    }
    #search {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.803);
    }

    #search > h1 {
        width: 100%;
        margin-bottom: .2em;
    }

    fieldset {
        margin-left: -.5em; 
    }

    fieldset > span {
        display: block;
        margin: 0 auto;
    }
    #address-box {
        width: 300px;
        height: 35px;
        display: block;
        font-size: 16px;
    }

    #submit {
        display: block;
        margin: 0 auto;
        margin-top: .5em;
        font-size: 16px;
    }

}
